* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body{
	background-color: #CCDDEE;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: white;
	line-height: 29px;
}

.title{
	font-size: 24px;
	color: black;
	line-height: 29px;
}

.warning{
	font-size: 24px;
	color: red;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;

}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: white;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #245E86;
 	line-height: 17px;
 }
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.btn {
	padding: 20px;
	margin: 0;
	border-color: #245e86;
	border-width: 2px;
	color: #245e86;;
}
.btn:hover {
	border-color: #245e86;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}
.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}
.divider {
	height: 15px;
}
.divider.blue {
	background-color: #245E86;
}
.divider.green {
	background-color: #245E86;
}
.banner.main {
	height: 150px;
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner.menu {
	height: 150px;
	background-color: white;
}
.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}
.banner h1 {
	margin: 45px 0;
}
 .genre-list {
 	background-color: white;
 	padding: 20px;
u }
 .genre-list:hover {
 	background-color: #E0E0E0;
 	padding: 20px;
}
.recent-book-list{
	background-color: white;
 	padding: 20px;
}
.book-item {
	background: white;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}

.book-title{
	font-size:18px;
	font-weight:700;
}
.book-price {
	font-weight: 700;
}
.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: white;
	font-weight: 400;
	margin-top: -5px;
}
.flash {
	background-color: #aaaaaa;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}

#book{
	float:left;
	width: 20%;
}
