{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row divider green">
        <div class="col-md-12"></div>
    </div>
    <!-- Banner shows the genre name and creator information for this genre-->
    <div class="row banner main">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h2>{{ genre.name }}
                <figure class="creator">
                    <img src="{{ creator.picture}}">
                    <figcaption>Creator: {{ creator.name }}</figcaption>
                </figure>
            </h2>

        </div>
    </div>
    <!-- Flash Messages Appear Here -->
    <div class = 'flash'>
    	{% with messages = get_flashed_messages() %}
          {% if messages %}              
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
    <!-- Button code for: Edit Genre, Add Book, Delete Genre -->
    <div class="row padding-top padding-bottom">
        <div class="col-md-1"></div>
        <div class="col-md-10 padding-none">
            <a href="{{url_for('editGenre', genre_id = genre.id )}}">
                <button class="btn btn-default" id="new-book-item">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Genre
                </button>
            </a>
            <a href="{{url_for('newBook', genre_id = genre.id )}}">
                <button class="btn btn-default" id="new-book-item">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Add Book
                </button>
            </a>
            <a href="{{url_for('deleteGenre', genre_id = genre.id )}}">
                <button class="btn btn-default delete" id="delete-genre">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Genre
                </button>
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- For each book in the genre, show the book properties and edit and delete operations -->
    {% if books !=[] %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">                    
                {% for i in books %}                           
                    <div class="book-item">
                        <p class="book-title">{{i.name}}</p>
                        <p>{{i.description}}</p>
                        <p>By: {{i.author}} </p>
                        <p>ISBN: {{i.isbn}} </p>
                        <a href='{{url_for('editBook', genre_id = genre.id, book_id=i.id ) }}' style="float:left">Edit</a>
                        <a href = "#" style="float:left">&nbsp|&nbsp</a>
                        <a href='{{url_for('deleteBook', genre_id = genre.id, book_id=i.id ) }}' style="float:left"> Delete</a>
                    </div>
                {% endfor %}                  
            </div>
            <div class="col-md-1"></div>
        </div>
    <!-- If no books exist for this genre, show this message -->
    {% else %}
    <p> You currently have no books in this genre. <p>
    {% endif %}
{% endblock %}
