{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<p class="warning"> Are you sure you want to delete {{item.name}}? </p>
<!-- Form allows authorized user to either delete the book for the selected genre or press cancel and return to the books page -->
<form action="{{ url_for('deleteBook',genre_id = item.genre_id, book_id=item.id)}}" method = 'post'>
	<button type="submit" class="btn btn-default delete" id="submit" type="submit">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
	</button>
	<a href = '{{url_for('showBooks', genre_id=item.genre_id)}}' class="btn btn-default delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</a>
</form>
{% endblock %}
