<!-- Shows the button for showing all genres, the title of the application, and the logout button-->
<!-- Other templates inherit this template to show the header during login -->
<div class="row top-menu">
	<div class="col-md-4">
		<a href="{{url_for('showGenres')}}" class="btn btn-default">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Genres
		</a>
	</div>
	<div class="col-md-4">
		<h1>Catalog App</h1>
	</div>
	<div class="col-md-4 text-right">
		<a href="{{url_for('gdisconnect')}}" class="btn btn-default delete">Logout</a>
	</div>
</div>